<page-header chosen-idx="5"></page-header>
<!-- 关于我们banner图片 -->
<img src="img/about_banner.jpg" class="img-responsive">
<div class="container"  style="padding-top: 25px;">
    <ol class="breadcrumb">
        <li>
            <a href="#/">首页</a>
        </li>
        <li class="active">关于我们</li>
    </ol>
    <div class="container">
        <div class="row" style="text-indent: 2em;letter-spacing: 6px;">
            <div class="col-xs-12">
                玺墅是是一家专业从事别墅及高档住宅的装饰设计与施工的企业。公司服务于社会财智精英阶层和高端客户，为业主提供专业别墅大宅装饰装修的整体规划设计与施工，木作产品定制，软装饰品、设备和主材的配套采购服务。项目涵盖了私人大宅、样板间、会所、高端商业办公空间。
            </div>
        </div>
        <div class="row" style="padding: 20px 0;text-indent: 2em;letter-spacing: 6px;">
            <div class="col-xs-12">
                玺墅装饰明确定位于别墅装修，服务对象涵盖社会财智精英人士和高端客户。玺墅为您提供别墅装饰的整体装修规划设计与施工、别墅设备、主材、家具、配饰的私属定制服务，以“多对一”式的全程托管式服务模式，令高端客户尽享尊崇私属服务。
            </div>
        </div>
        <div class="row" style="text-indent: 2em;letter-spacing: 6px;">
            <div class="col-xs-12">
                玺墅在成立之初，即深刻思索“服务、管理、发展”之间的关系，并对别墅装饰不断进行深入的研究，提炼出自己对此的独特理解和主张。玺墅具备在高端家居文化领域内卓越的设计研发能力，具备持续领先业界的企业潜质，凭借在别墅装饰行业中独树一帜的经营模式和企业理念，玺墅已经成为了行业内的杰出典范。
                目前，“玺墅”正为了实现成为青岛别墅装饰第一品牌的目标而努力。相信不久的将来，玺墅装饰一定会成为中国家居装饰领域内受人尊敬的一家设计公司。
            </div>
        </div>
    </div>
</div>